* {
    box-sizing: border-box;
}

#spaceman-container {
    width: 95%;
    height: 85%;

}


body {
    background: linear-gradient( 90deg, rgb(35, 92, 163), rgb(138, 189, 255)) no-repeat;
;
    color: white;
    font-family: 'a Astro Space',sans-serif;


}
@media only screen and (min-width: 768px){
    svg {
        width: 100px;
        height: 100px;
    }


}


.ship{
    fill: none;
    display: none;
}


img {
    size: fixed;
    margin: 50px 0 0 50px;
    width: 220px;
    height: 200px;
    border-radius: 50%;
}

p {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    /* font-family: 'a Astro Space',sans-serif; */
}

#header {
    text-align: center;
    font-family: 'a Astro Space', sans-serif;
    font-size: 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

#letter-container {
    position: relative;
    margin-left: 50px;
    font-size: 1rem;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#letter-container span{
  font-size: 24px;
}

.word-container{
    margin-bottom: 50px;
    display: flex;
    flex-direction:row;
    justify-content: center;

}

.letter {
    display: inline-flex;
    align-items: center;
    font-size: 30px;
    margin: 0 3px;
    height: 50px;
    width: 20px;
    justify-content: center;
    border-bottom: 2px solid rgb(197, 196, 253);
}

.alert-container {
    display: none;
    box-shadow:  0 15px 10px 3px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom:-500px;
    left: 200px;
    transition: transform 0.3s ease-in-out;*/
    justify-content:center;
}


.alert-container p {
    margin: 0;
}

.alert-container .popup {
    display: flex;
    box-shadow:  0 15px 10px 3px rgba(0, 0, 0, 0.1);
}


#ship-container {
    margin-top: 100px;
    align-items: center;
}

svg {
    height: 550px;
    width: 600px;
    margin-right: 150px;
    margin-top: -100px;
    justify-content: center;
}

.footer-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.footer-message {
    background-color: rgb(97, 150, 230);
    text-align: center;
    box-shadow:  0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.alert-container {
    margin-bottom: 100px;
}

#play-again {
    cursor: pointer;
    background-color: aliceblue;
    color: rgb(119, 117, 194);
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 15px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid rgb(138, 163, 230);
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(86, 113, 187);
    width: 500px;
    max-width: 80%;
}
.enable {

    transform: translate(-50%, -50%) scale(1);
}

.how-to {
    padding: 10px 15px;
    display:flex;
    justify-content:center;
    border-bottom: 1px solid whitesmoke;
}

.how-to .title {
    font-size: 2rem;
    font-weight: bold;
}

.how-to-description {
    padding: 10px 15px;
}


.shadow {
    position:fixed;
    opacity: 0;
    top: 0;
    transition: 200ms ease-in-out;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(205, 223, 255);
    pointer-events: none;
}

.enable-shadow {
    opacity: 1;
    pointer-events: all;
}

.category {
    display: inline;
    /* justify-content: space-between; */
    left: 0;
    right:0;
    bottom: 5px;
    align-items: center;
    background-color:rgb(4, 56, 134);
    font-family: 'a Astro Space', sans-serif;
    color: aliceblue;
}