* {
    box-sizing: border-box;
}

#spaceman-container {
    width: 95%;
    height: 85%;
}


body {
    background: linear-gradient( 90deg, rgb(35, 92, 163), rgb(138, 189, 255));
    color: white;
    font-family: 'a Astro Space',sans-serif;


}
@media screen and (min-width: 900px){


}


.ship{

    display: none;
}


img {
    size: fixed;
    margin: 50px 0 0 50px;
    width: 35%;
    height: 30%;
    border-radius: 50%;
}

p {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    /* font-family: 'a Astro Space',sans-serif; */
}

#header {
    text-align: center;
    font-family: 'a Astro Space', sans-serif;
    font-size: 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

#letter-container {
    position: relative;
    margin-left: 50px;
    font-size: 1rem;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#letter-container span{
  font-size: 24px;
}

.word-container{
    display: flex;
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
}

.letter {
    display: inline-flex;
    align-items: center;
    font-size: 30px;
    margin: 0 3px;
    height: 50px;
    width: 20px;
    justify-content: center;
    border-bottom: 2px solid rgb(197, 196, 253);
}

.alert-container p {
    margin: 0;;
}
.alert-container .popup {
    transform: translateY(-50px);
}



#ship-container {
    margin-top: 100px;
    align-items: center;
}

svg {
    height: 750px;
    width: 750px;
    margin-right: 150px;
    margin-top: -100px;
}

.footer-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.footer-message {
    background-color: rgb(97, 150, 230);
    text-align: center;
    box-shadow:  0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.alert-container {
    margin-bottom: 100px;
}

#play-again {
    cursor: pointer;
    background-color: aliceblue;
    color: rgb(119, 117, 194);
    margin-top: 20px;
    border: 0;
    padding: 12px 20px;
    font-size: 15px;
}